

h1 {
    color: white;
    font-size: 40px;
}

.campus {
    border-top: 1px solid #ddd;
    padding-top: 10px;
    margin-top: 10px;
}

div {
}

nav {
    font-size: 21px;
}

svg {
    color: white;
}



